[submodule "external/HoloEverywhere"]
	path = external/HoloEverywhere
	url = git://github.com/ChristopheVersieux/HoloEverywhere.git
[submodule "external/OnionKit"]
	path = external/OnionKit
	url = git://github.com/guardianproject/OnionKit.git
[submodule "external/android-ffmpeg-java"]
	path = external/android-ffmpeg-java
	url = https://github.com/guardianproject/android-ffmpeg-java
[submodule "external/SlidingMenu"]
	path = external/SlidingMenu
	url = git://github.com/jfeinstein10/SlidingMenu.git
