[submodule "external/android-ffmpeg-java"]
	path = external/android-ffmpeg-java
    url = https://github.com/StoryMaker/android-ffmpeg-java
[submodule "external/SecureShareLib"]
	path = external/SecureShareLib
	url = https://github.com/StoryMaker/SecureShareLib.git
[submodule "external/liger"]
	path = external/liger
	url = https://github.com/StoryMaker/storypath.git
