[submodule "external/OnionKit"]
	path = external/OnionKit
	url = git://github.com/guardianproject/OnionKit.git
[submodule "external/android-ffmpeg-java"]
	path = external/android-ffmpeg-java
	url = https://github.com/guardianproject/android-ffmpeg-java
[submodule "external/SlidingMenu"]
	path = external/SlidingMenu
	url = git@github.com:vitriolix/SlidingMenu.git
[submodule "external/cardsui-for-android"]
	path = external/cardsui-for-android
	url = https://github.com/nadavfima/cardsui-for-android.git
[submodule "external/Android-ViewPagerIndicator"]
	path = external/Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "external/HoloEverywhere"]
	path = external/HoloEverywhere
	url = git://github.com/ChristopheVersieux/HoloEverywhere.git
