<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.storymaker.app"
    android:installLocation="auto"
    android:versionCode="1056"
    android:versionName="2.0.0-build1056">
   
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" android:required="false" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" android:required="false" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" android:required="false" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" android:required="false" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="org.storymaker.app.StoryMakerApp"
        android:configChanges="orientation|keyboardHidden|screenSize|locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:replace="android:name">
        <activity
            android:name="org.storymaker.app.server.LoginActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Entry for RegisterActivity.class -->
        <activity
            android:name="org.storymaker.app.server.RegisterActivity"
            android:label="Register New Account" >
        </activity>
        <activity
            android:name="org.storymaker.app.HomeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.storymaker.app.StoryNewActivity"
            android:label="@string/title_activity_new_story" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.ProjectsActivity"
            android:configChanges="locale"
            android:label="@string/title_exports"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.StoryTemplateChooserActivity"
            android:label="@string/title_activity_choose_template" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.StoryTemplateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_story_template" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.SceneEditorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scene_editor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <!--<activity-->
            <!--android:name="org.storymaker.app.WelcomeActivity"-->
            <!--android:label="@string/app_name" >-->
        <!--</activity>-->
        <!--<activity android:name="org.storymaker.app.ProjectListActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".HomeActivity" />-->
        <!--</activity>-->
        <activity android:name="org.storymaker.app.server.WebViewActivity" />
        <activity
            android:name="org.storymaker.app.media.MediaProjectManager"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <!--<activity android:name="org.storymaker.app.MediaOutputPreferences" />-->
        <activity android:name="org.storymaker.app.SimplePreferences" />
        <activity
            android:name="org.storymaker.app.media.OverlayCameraActivity"
            android:screenOrientation="landscape" />
        <!--<activity android:name="org.storymaker.app.media.AudioRecorderActivity" />-->

        <provider
            android:name="org.storymaker.app.db.LessonsProvider"
            android:authorities="org.storymaker.app.db.LessonsProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>
        <provider
            android:name="org.storymaker.app.db.ProjectsProvider"
            android:authorities="org.storymaker.app.db.ProjectsProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <activity
            android:name="net.micode.soundrecorder.SoundRecorder"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="audio/amr" />
                <data android:mimeType="audio/3gpp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="net.micode.soundrecorder.RecorderService"
            android:exported="false" >
        </service>

        <service
            android:name="org.storymaker.app.publish.PublishService"
            android:exported="false" >
        </service>

        <receiver
            android:name="org.storymaker.app.QuickStoryWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="StoryMaker QuickStory" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quickstory_widget_info" />
        </receiver>

        <activity
            android:name="info.guardianproject.onionkit.ui.CertDisplayActivity"
            android:configChanges="locale|screenSize|orientation"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name="org.storymaker.app.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.storymaker.app.StoryInfoActivity"
            android:label="@string/title_activity_story_info"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneEditorActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.StoryInfoEditActivity"
            android:label="@string/title_activity_story_info_edit"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoryInfoActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.ProjectTagFragment"
            android:label="@string/title_activity_project_tag_fragment"
            android:parentActivityName="android.support.v4.app.FragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity 
            android:name="org.storymaker.app.FirstStartActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="org.storymaker.app.server.WordPressAuthWebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.FacebookLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.FlickrLoginActivity"
            android:screenOrientation="portrait">
        </activity>
                <activity
            android:name="io.scal.secureshareui.login.FlickrWebActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.SoundCloudLoginActivity" 
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.SSHLoginActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.YoutubeLoginActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.ArchiveLoginActivity" 
            android:screenOrientation="portrait">
        </activity>
       	<activity 
       	    android:name="com.facebook.LoginActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.storymaker.app.ConnectAccountActivity"
            android:label="@string/title_activity_connect_account"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme">
        </activity>

        <activity
            android:name="io.scal.secureshareui.lib.ArchiveMetadataActivity"
            android:label="@string/title_activity_press_secure" 
            android:theme="@style/PopupTheme" >
        </activity>
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        

        <activity
            android:name="org.storymaker.app.PublishActivity"
            android:label="@string/title_activity_publish"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="io.scal.liger.PUBLISH" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
    </application>

</manifest>
