<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.storymaker.app"
    android:installLocation="auto"
    android:versionCode="1114"
    android:versionName="2.1.6.6">
   
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" android:required="false" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" android:required="false" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" android:required="false" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" android:required="false" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" android:required="false" />

    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="org.storymaker.app.StoryMakerApp"
        android:configChanges="orientation|keyboardHidden|screenSize|locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:replace="android:name">
        <activity
            android:name="org.storymaker.app.server.LoginActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Entry for RegisterActivity.class -->
        <activity
            android:name="org.storymaker.app.server.RegisterActivity"
            android:label="Register New Account" >
        </activity>
        <activity
            android:name="org.storymaker.app.HomeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <!--
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity="org.storymaker.app.HomeActivity">
            <intent-filter  android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="org.storymaker.app.CatalogActivity"
            android:configChanges="locale"
            android:label="@string/title_catalog"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.ProjectsActivity"
            android:configChanges="locale"
            android:label="@string/title_exports"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.SceneEditorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scene_editor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity android:name="org.storymaker.app.server.WebViewActivity" />
        <activity android:name="org.storymaker.app.SimplePreferences" />
        <activity
            android:name="org.storymaker.app.media.OverlayCameraActivity"
            android:screenOrientation="landscape" />

        <provider
            android:name="org.storymaker.app.db.ProjectsProvider"
            android:authorities="org.storymaker.app.db.ProjectsProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <service
            android:name="org.storymaker.app.publish.PublishService"
            android:exported="false" >
        </service>

        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />
        <activity
            android:name="org.storymaker.app.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.storymaker.app.StoryInfoActivity"
            android:label="@string/title_activity_story_info"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneEditorActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.StoryInfoEditActivity"
            android:label="@string/title_activity_story_info_edit"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoryInfoActivity" />
        </activity>
        <activity
            android:name="org.storymaker.app.ProjectTagFragment"
            android:label="@string/title_activity_project_tag_fragment"
            android:parentActivityName="android.support.v4.app.FragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity 
            android:name="org.storymaker.app.FirstStartActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="org.storymaker.app.server.WordPressAuthWebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.FacebookLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.FlickrLoginActivity"
            android:screenOrientation="portrait">
        </activity>
                <activity
            android:name="io.scal.secureshare.login.FlickrWebActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.SoundCloudLoginActivity"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.SSHLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.YoutubeLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.ArchiveLoginActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
        </activity>
       	<activity 
       	    android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.ZTLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshare.login.ZTWebActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.storymaker.app.ConnectAccountActivity"
            android:label="@string/title_activity_connect_account"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme">
        </activity>

        <activity
            android:name="io.scal.secureshare.lib.ArchiveMetadataActivity"
            android:label="@string/title_activity_press_secure" 
            android:theme="@style/PopupTheme" >
        </activity>
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        

        <activity
            android:name="org.storymaker.app.PublishActivity"
            android:label="@string/title_activity_publish"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="io.scal.liger.PUBLISH" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <activity
            android:name=".SMPanicResponderActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action
                    android:name="info.guardianproject.panic.action.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExitActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" />

        <!-- NEW/CACHEWORD -->
        <service android:name="info.guardianproject.cacheword.CacheWordService"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name="org.storymaker.app.CacheWordActivity"/>

        <receiver android:name=".LaunchViaDialReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
