<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.mrapp"
    android:installLocation="auto"
    android:versionCode="125"
    android:versionName="0.0.11-build125">
   
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" android:required="false" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" android:required="false" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" ></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" ></uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" ></uses-permission>
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" android:required="false" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" android:required="false" />
    
    <!-- FIXME remove in prod builds -->
    <uses-permission android:name="android.permission.READ_LOGS" ></uses-permission>  
    <!-- FIXME remove in prod builds -->
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="info.guardianproject.mrapp.StoryMakerApp"
        android:configChanges="orientation|keyboardHidden|screenSize|locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.storymakerstyle" >
        <activity
            android:name="info.guardianproject.mrapp.server.LoginActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Entry for RegisterActivity.class -->
        <activity
            android:name="info.guardianproject.mrapp.server.RegisterActivity"
            android:label="Register New Account" >
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.HomeActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.StoryNewActivity"
            android:label="@string/title_activity_new_story" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.ProjectsActivity"
            android:configChanges="locale"
            android:label="@string/title_projects"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.LessonsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_lessons"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.StoryTemplateChooserActivity"
            android:label="@string/title_activity_choose_template" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.StoryTemplateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_story_template" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.SceneEditorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scene_editor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="info.guardianproject.mrapp.ProjectListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name="info.guardianproject.mrapp.lessons.LessonViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonsActivity" />
        </activity>
        <activity android:name="info.guardianproject.mrapp.server.WebViewActivity" />
        <activity
            android:name="info.guardianproject.mrapp.media.MediaProjectManager"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity android:name="info.guardianproject.mrapp.MediaOutputPreferences" />
        <activity android:name="info.guardianproject.mrapp.SimplePreferences" />
        <activity
            android:name="info.guardianproject.mrapp.media.OverlayCameraActivity"
            android:screenOrientation="landscape" />
        <activity android:name="info.guardianproject.mrapp.media.AudioRecorderActivity" />

        <provider
            android:name="info.guardianproject.mrapp.db.LessonsProvider"
            android:authorities="info.guardianproject.mrapp.db.LessonsProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>
        <provider
            android:name="info.guardianproject.mrapp.db.ProjectsProvider"
            android:authorities="info.guardianproject.mrapp.db.ProjectsProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <activity
            android:name="net.micode.soundrecorder.SoundRecorder"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="audio/amr" />
                <data android:mimeType="audio/3gpp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="net.micode.soundrecorder.RecorderService"
            android:exported="false" >
        </service>

        <service
            android:name="info.guardianproject.mrapp.publish.PublishService"
            android:exported="false" >
        </service>

        <receiver
            android:name="info.guardianproject.mrapp.QuickStoryWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="StoryMaker QuickStory" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quickstory_widget_info" />
        </receiver>

        <activity
            android:name="info.guardianproject.onionkit.ui.CertDisplayActivity"
            android:configChanges="locale|screenSize|orientation"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name="info.guardianproject.mrapp.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.StoryInfoActivity"
            android:label="@string/title_activity_story_info"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneEditorActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.StoryInfoEditActivity"
            android:label="@string/title_activity_story_info_edit"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoryInfoActivity" />
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.ProjectTagFragment"
            android:label="@string/title_activity_project_tag_fragment"
            android:parentActivityName="android.support.v4.app.FragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity 
            android:name="info.guardianproject.mrapp.FirstStartActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="info.guardianproject.mrapp.server.WordPressAuthWebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.FacebookLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.FlickrLoginActivity"
            android:screenOrientation="portrait">
        </activity>
                <activity
            android:name="io.scal.secureshareui.login.FlickrWebActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.SoundCloudLoginActivity" 
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.SSHLoginActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.YoutubeLoginActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.ArchiveLoginActivity" 
            android:screenOrientation="portrait">
        </activity>
       	<activity 
       	    android:name="com.facebook.LoginActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="info.guardianproject.mrapp.ConnectAccountActivity"
            android:label="@string/title_activity_connect_account"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="io.scal.secureshareui.lib.ArchiveMetadataActivity"
            android:label="@string/title_activity_press_secure" 
            android:theme="@style/PopupTheme" >
        </activity>
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
    </application>

</manifest>
