
img {
    /* Set the width dynamically depending on the width of the browser window */
    width:90%;
    /* dont enlarge the image more, than its initial resolution */
    max-width:1000px;
    max-height:765px;
    /* Set the height dynamically depending on the image's current width, keeping the aspect ratio */
    height:auto;
}

#headerdots
{
	margin: 0 auto;
	height: 31px;
}

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float:left;
  width:100%;
  position: relative;
}

/* END required styles */
.subswipe p, .subswipe h1, .subswipe h2, .subswipe h3, .subswipe ul, .subswipe form, .subswipe div
{
	margin-left:15px;
	margin-right:30px;
}

h1, h2, h3
{
	color:#555555;
}

.mediaplay
{
	color:#eeeeee;
	background-color:#333333;
	padding:15px;
	font-size:18pt;
	height:75px;
}

.mediaplay a:link, .mediaplay a
{
	color:#eeeeee;
	font-size:18pt;
	text-decoration:none;
	margin-top:10px;
}

.mediacaption
{
	color:#333333;
	background-color:#cccccc;
	padding:15px;
	font-size:10pt;
	margin-bottom:10px;
}
