body{
	font-size: 14pt;	
}


img {
    /* Set the width dynamically depending on the width of the browser window */
    width:90%;
    /* dont enlarge the image more, than its initial resolution */
    max-width:1000px;
    max-height:765px;
    /* Set the height dynamically depending on the image's current width, keeping the aspect ratio */
    height:auto;
}

#headerdots
{
	margin: 0 auto;
	height: 31px;
}

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float:left;
  width:100%;
  position: relative;
}

/* END required styles */
.subswipe p, .subswipe h1, .subswipe h2, .subswipe h3, .subswipe ul, .subswipe form, .subswipe div
{
	margin-left:15px;
	margin-right:30px;
}

h1, h2, h3
{
	color:#555555;
}

h1 {
	text-transform:uppercase;
	font-size: 20pt;
}

h2 {
	font-size: 16pt;
	font-weight: bold;
}

h3 {
	font-size: 16pt;
}

.mediaplay
{
	color:#eeeeee;
	background-color:#333333;
	padding:10px;
	font-size:20pt;
	margin-top:10px;
	display: inline-block;
}

.mediaplay a:link, .mediaplay a
{
	color:#eeeeee;
	font-size:18pt;
	text-decoration:none;
	margin-top:10px;
}

.mediacaption
{
	color:#333333;
	background-color:#dddddd;
	padding:10px;
	font-size:10pt;
	margin-bottom:20px;
	width:300px;
	display: inline-block;
	
}

.imageslides
{
     margin:0px;
     padding:0px;
	 width:320px;
	 min-height:250px;
}

.imageslides_container {
     margin:0px;
     padding:0px;

    width:320px;
     
	 min-height:250px;
     display:none;
}

.imageslides_container div {
    margin:0px;
    padding:0px;
    width:320px;
    min-height:250px;
    display:block;
}

.next,.prev 
{
margin:10px;
width:160px;
text-align:center;
}

.next a, .prev a
{
color:#999999;
}